/* --------------------------------------------------------
/* ---- FLOR NUMERO: 10 [9]
/* ---- ESP
-------------------------------------------------------- */

/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN XOCHIPILLI
-------------------------------------------------------- */


/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN NATURALEZA
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_0_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_10_n01_ES.png"); 
	background-size: cover;
	display: none;
}


 
/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN DOCUMENTOS
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_1_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_10_d01_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_2_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_10_d02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_3_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_10_d03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_4_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_10_d04_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_5_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_10_d05_ES.png"); 
	background-size: cover;
	display: none;
}



/* --------------------------------------------------------
/* ---- FLOR NUMERO: 10 [9]
/* ---- ENG
-------------------------------------------------------- */

/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN XOCHIPILLI
-------------------------------------------------------- */


/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN NATURALEZA
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_0_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/EN/GBF_10_n01_EN.png"); 
	background-size: cover;
	display: none;
}


 
/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN DOCUMENTOS
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_1_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/EN/GBF_10_d01_EN.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_2_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/EN/GBF_10_d02_EN.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_3_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/EN/GBF_10_d03_EN.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_4_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/EN/GBF_10_d04_EN.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_5_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/EN/GBF_10_d05_EN.png"); 
	background-size: cover;
	display: none;
}

/* --------------------------------------------------------
/* ---- FLOR NUMERO: 10 [9]
/* ---- NAH
-------------------------------------------------------- */

/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN XOCHIPILLI
-------------------------------------------------------- */


/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN NATURALEZA
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_0_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_10_n01_ES.png"); 
	background-size: cover;
	display: none;
}


 
/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN DOCUMENTOS
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_1_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_10_d01_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_2_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_10_d02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_3_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_10_d03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_4_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_10_d04_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_9_img_G_5_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_10_d05_ES.png"); 
	background-size: cover;
	display: none;
}

