/* --------------------------------------------------------
/* ---- FLOR NUMERO: 8 [7]
/* ---- ESP
-------------------------------------------------------- */

/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN XOCHIPILLI
-------------------------------------------------------- */
.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_0_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_x01_ES.png"); 
	background-size: cover;
	display: block;
}


.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_1_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_x02_ES.png"); 
	background-size: cover;
	display: none;
}


.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_2_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_x03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_3_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_x04_ES.png"); 
	background-size: cover;
	display: none;
}


/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN NATURALEZA
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_4_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_n01_ES.png"); 
	background-size: cover;
	display: none;
}


.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_5_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_n02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_6_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_n03_ES.png"); 
	background-size: cover;
	display: none;
}




/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN DOCUMENTOS
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_7_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_d01_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_8_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_d02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_9_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_d03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_10_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_d04_ES.png"); 
	background-size: cover;
	display: none;
}

 

/* --------------------------------------------------------
/* ---- FLOR NUMERO: 7 [6]
/* ---- ENG
-------------------------------------------------------- */

/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN XOCHIPILLI
-------------------------------------------------------- */
.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_0_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_x01_ES.png"); 
	background-size: cover;
	display: block;
}


.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_1_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_x02_ES.png"); 
	background-size: cover;
	display: none;
}


.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_2_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_x03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_3_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_x04_ES.png"); 
	background-size: cover;
	display: none;
}


/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN NATURALEZA
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_4_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_n01_ES.png"); 
	background-size: cover;
	display: none;
}


.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_5_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_n02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_6_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_n03_ES.png"); 
	background-size: cover;
	display: none;
}




/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN DOCUMENTOS
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_7_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_d01_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_8_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_d02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_9_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_d03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_10_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_d04_ES.png"); 
	background-size: cover;
	display: none;
}





/* --------------------------------------------------------
/* ---- FLOR NUMERO: 7 [6]
/* ---- NAH
-------------------------------------------------------- */

/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN XOCHIPILLI
-------------------------------------------------------- */
.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_0_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_x01_ES.png"); 
	background-size: cover;
	display: block;
}


.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_1_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_x02_ES.png"); 
	background-size: cover;
	display: none;
}


.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_2_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_x03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_3_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_x04_ES.png"); 
	background-size: cover;
	display: none;
}


/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN NATURALEZA
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_4_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_n01_ES.png"); 
	background-size: cover;
	display: none;
}


.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_5_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_n02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_6_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_n03_ES.png"); 
	background-size: cover;
	display: none;
}



/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 1 : EN DOCUMENTOS
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_7_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_d01_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_8_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_d02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_9_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_d03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_7_img_G_10_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_08_d04_ES.png"); 
	background-size: cover;
	display: none;
}