
/* --------------------------------------------------------
/* ---- FLOR NUMERO: 2
/* ---- ESPAÑOL
/* ---- IMAGENES DETALLE FLOR NUM 2 : EN NATURALEZA
-------------------------------------------------------- */



/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 2 : EN XOCHIPILLI
-------------------------------------------------------- */


.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_0_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_x01_ES.png"); 
	background-size: cover;
	display: block;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_1_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_x02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_2_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_x03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_3_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_x04_ES.png"); 
	background-size: cover;
	display: none;
}



/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 2 : EN NATURALEZA
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_4_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n01_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_5_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_6_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_7_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n04_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_8_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n05_ES.png"); 
	background-size: cover;
	display: none;
}


/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 2 : EN DOCUMENTOS
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_9_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d01_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_10_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_11_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_12_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d04_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_13_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d05_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_14_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d06_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_15_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d07_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_16_ESP{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d08_ES.png"); 
	background-size: cover;
	display: none;
}



 

/* --------------------------------------------------------
/* ---- FLOR NUMERO: 2
/* ---- INGLES
/* ---- IMAGENES DETALLE FLOR NUM 2 : EN NATURALEZA
-------------------------------------------------------- */

/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 2 : EN XOCHIPILLI
-------------------------------------------------------- */


.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_0_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_x01_ES.png"); 
	background-size: cover;
	display: block;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_1_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_x02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_2_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_x03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_3_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_x04_ES.png"); 
	background-size: cover;
	display: none;
}



/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 2 : EN NATURALEZA
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_4_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n01_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_5_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_6_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_7_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n04_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_8_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n05_ES.png"); 
	background-size: cover;
	display: none;
}


/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 2 : EN DOCUMENTOS
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_9_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d01_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_10_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_11_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_12_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d04_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_13_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d05_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_14_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d06_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_15_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d07_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_16_ENG{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d08_ES.png"); 
	background-size: cover;
	display: none;
}

 



/* --------------------------------------------------------
/* ---- FLOR NUMERO: 2
/* ---- NAHUATL
/* ---- IMAGENES DETALLE FLOR NUM 2 : EN NATURALEZA
-------------------------------------------------------- */



/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 2 : EN XOCHIPILLI
-------------------------------------------------------- */


.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_0_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_x01_ES.png"); 
	background-size: cover;
	display: block;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_1_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_x02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_2_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_x03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_3_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_x04_ES.png"); 
	background-size: cover;
	display: none;
}



/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 2 : EN NATURALEZA
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_4_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n01_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_5_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_6_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_7_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n04_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_8_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_n05_ES.png"); 
	background-size: cover;
	display: none;
}


/* --------------------------------------------------------
/* ---- IMAGENES DETALLE FLOR NUM 2 : EN DOCUMENTOS
-------------------------------------------------------- */

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_9_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d01_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_10_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d02_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_11_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d03_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_12_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d04_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_13_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d05_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_14_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d06_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_15_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d07_ES.png"); 
	background-size: cover;
	display: none;
}

.detalle-flor-Seccion  > .ContendorGaleria > .flor_1_img_G_16_NAH{
	width: 100%;
	height: 720px;
	position: absolute;
	background: url("../images/p13-detalle-flor/img_flores/ES/GBF_02_d08_ES.png"); 
	background-size: cover;
	display: none;
}