/*-------------------------------------
LUPE - Hotspots cordenadas - sección 4
---------------------------------------*/
/*Interpretacion - sección 4 - coordenadas Imagen 1*/
.btn_pos_04s_1_h01{
	position: absolute;
	top: 13px;
	left: 139px;
}
.btn_pos_04s_1_h02{
	position: absolute;
	top: 245px;
	left: 84px;
}

/*Interpretacion - sección 4 - coordenadas Imagen 2*/
.btn_pos_04s_2_h01{
	position: absolute;
	top: 24px;
	left: 119px;
}
.btn_pos_04s_2_h02{
	position: absolute;
	top: 118px;
	left: 109px;
}
.btn_pos_04s_2_h03{
	position: absolute;
	top: 165px;
	left: 150px;
}

/*Interpretacion - sección 4 - coordenadas Imagen 3*/
.btn_pos_04s_3_h01{
	position: absolute;
	top: 14px;
	left: 139px;
}
.btn_pos_04s_3_h02{
	position: absolute;
	top: 72px;
	left: 123px;
}
.btn_pos_04s_3_h03{
	position: absolute;
	top: 113px;
	left: 138px;
}

/*Interpretacion - sección 4 - coordenadas Imagen 4*/
.btn_pos_04s_4_h01{
	position: absolute;
	top: 15px;
	left: 158px;
}
.btn_pos_04s_4_h02{
	position: absolute;
	top: 119px;
	left: 162px;
}
.btn_pos_04s_4_h03{
	position: absolute;
	top: 135px;
	left: 113px;
}
