/*-------------------------------------
LUPE - Hotspots cordenadas - sección 5
---------------------------------------*/
/*Interpretacion - sección 5 - coordenadas Imagen 1*/
.btn_pos_05f_1_h01{
	position: absolute;
	top: 27px;
	left: 139px;
}
.btn_pos_05f_1_h02{
	position: absolute;
	top: 30px;
	left: 56px;
}
.btn_pos_05f_1_h03{
	position: absolute;
	top: 63px;
	left: 23px;
}
.btn_pos_05f_1_h04{
	position: absolute;
	top: 67px;
    left: 64px;
}
/*Interpretacion - sección 5 - coordenadas Imagen 2*/
.btn_pos_05f_2_h01{
	position: absolute;
	top: 27px;
	left: 139px;
}
.btn_pos_05f_2_h02{
	position: absolute;
	top: 30px;
	left: 56px;
}
.btn_pos_05f_2_h03{
	position: absolute;
	top: 63px;
	left: 23px;
}
.btn_pos_05f_2_h04{
	position: absolute;
	top: 67px;
    left: 64px;
}
/*Interpretacion - sección 5 - coordenadas Imagen 3*/
.btn_pos_05f_3_h01{
	position: absolute;
	top: 27px;
	left: 139px;
}
.btn_pos_05f_3_h02{
	position: absolute;
	top: 30px;
	left: 56px;
}
.btn_pos_05f_3_h03{
	position: absolute;
	top: 63px;
	left: 23px;
}
.btn_pos_05f_3_h04{
	position: absolute;
	top: 67px;
    left: 64px;
}
/*Interpretacion - sección 5 - coordenadas Imagen 4*/
.btn_pos_05f_4_h01{
	position: absolute;
	top: 27px;
	left: 139px;
}
.btn_pos_05f_4_h02{
	position: absolute;
	top: 30px;
	left: 56px;
}
.btn_pos_05f_4_h03{
	position: absolute;
	top: 63px;
	left: 23px;
}
.btn_pos_05f_4_h04{
	position: absolute;
	top: 67px;
    left: 64px;
}