/*-------------------------------------
LUPE - Hotspots cordenadas - sección 1
---------------------------------------*/
/*Interpretacion - sección 1 - coordenadas Imagen 1*/
.btn_pos_01u_1_h01{
	position: absolute;
	top: 27px;
	left: 139px;
}
.btn_pos_01u_1_h02{
	position: absolute;
	top: 123px;
	left: 139px;
}
.btn_pos_01u_1_h03{
	position: absolute;
	top: 258px;
	left: 139px;
}

/*Interpretacion - sección 1 - coordenadas Imagen 2*/
.btn_pos_01u_2_h01{
	position: absolute;
	top: 27px;
	left: 129px;
}
.btn_pos_01u_2_h02{
	position: absolute;
	top: 123px;
	left: 129px;
}
.btn_pos_01u_2_h03{
	position: absolute;
	top: 246px;
	left: 129px;
}

/*Interpretacion - sección 1 - coordenadas Imagen 3*/
.btn_pos_01u_3_h01{
	position: absolute;
	top: 138px;
	left: 139px;
}
.btn_pos_01u_3_h02{
	position: absolute;
	top: 258px;
	left: 139px;
}

/*Interpretacion - sección 1 - coordenadas Imagen 4*/
.btn_pos_01u_4_h01{
	position: absolute;
	top: 50px;
	left: 139px;
}
.btn_pos_01u_4_h02{
	position: absolute;
	top: 143px;
	left: 152px;
}
.btn_pos_01u_4_h03{
	position: absolute;
	top: 245px;
	left: 152px;
}
