/*-------------------------------------
LUPE - Hotspots cordenadas - sección 5
---------------------------------------*/
/*Interpretacion - sección 5 - coordenadas Imagen 1*/
.btn_pos_05f_1_h01{
	position: absolute;
	top: 99px;
	left: 138px;
}
.btn_pos_05f_1_h02{
	position: absolute;
	top: 147px;
	left: 103px;
}
.btn_pos_05f_1_h03{
	position: absolute;
	top: 135px;
	left: 164px;
}
.btn_pos_05f_1_h04{
	position: absolute;
	top: 101px;
    left: 195px;
}
/*Interpretacion - sección 5 - coordenadas Imagen 2*/
.btn_pos_05f_2_h01{
	position: absolute;
	top: 82px;
	left: 165px;
}
.btn_pos_05f_2_h02{
	position: absolute;
	top: 122px;
	left: 114px;
}
.btn_pos_05f_2_h03{
	position: absolute;
	top: 165px;
	left: 149px;
}
.btn_pos_05f_2_h04{
	position: absolute;
	top: 131px;
    left: 173px;
}
/*Interpretacion - sección 5 - coordenadas Imagen 3*/
.btn_pos_05f_3_h01{
	position: absolute;
	top: 104px;
	left: 77px;
}
.btn_pos_05f_3_h02{
	position: absolute;
	top: 104px;
	left: 175px;
}
.btn_pos_05f_3_h03{
	position: absolute;
	top: 144px;
	left: 135px;
}
.btn_pos_05f_3_h04{
	position: absolute;
	top: 251px;
	left: 149px;
}
/*Interpretacion - sección 5 - coordenadas Imagen 4*/
.btn_pos_05f_4_h01{
	position: absolute;
	top: 76px;
	left: 148px;
}
.btn_pos_05f_4_h02{
	position: absolute;
	top: 109px;
	left: 109px;
}
.btn_pos_05f_4_h03{
	position: absolute;
	top: 124px;
	left: 161px;
}
.btn_pos_05f_4_h04{
	position: absolute;
	top: 169px;
	left: 134px;
}